{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
    <h1>Recipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Recipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recept in recepts %}
            <tr>
                <td>{{ recept.id }}</td>
                <td>{{ recept.name }}</td>
                <td>{{ recept.recept }}</td>
                <td>
                    <a href="{{ path('app_recept_show', {'id': recept.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_recept_edit', {'id': recept.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recept_new') }}" class="btn btn-secondary">Create new</a>
{% endblock %}
