{# templates/cocktail/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Cocktails{% endblock %}

{% block body %}

<h1>Select available ingridients</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Check Cocktails</button>
{{ form_end(form) }}

<h2>You can make:</h2>
<ul>
    {% for recipe in canMake %}
        <li><a href="{{ path('cocktail_show', {id: recipe.id}) }}">{{ recipe.name }}</a></li>
    {% else %}
        <li>No cocktails you can make</li>
    {% endfor %}
</ul>

<h2>Almost can make (missing 1 ingredient):</h2>
<ul>
    {% for item in almost %}
        <li>
            <a href="{{ path('cocktail_show', {id: item.recept.id}) }}">{{ item.recept.name }}</a>
            — Missing: 
            {% for id in item.missing %}
                {{ id }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% else %}
        <li>No almost-makeable cocktails</li>
    {% endfor %}
</ul>
{% endblock %}
