{% extends 'base.html.twig' %}

{% block title %}alcohol index{% endblock %}

{% block body %}
    <h1>alcohol index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alcohol in alcohols %}
            <tr>
                <td>{{ alcohol.id }}</td>
                <td>{{ alcohol.name }}</td>
                <td>{{ alcohol.type }}</td>
                <td>
                    <a href="{{ path('app_alcohol_show', {'id': alcohol.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_alcohol_edit', {'id': alcohol.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_alcohol_new') }}">Create new</a>
{% endblock %}
