{% extends 'base.html.twig' %}

{% block title %}Alchole index{% endblock %}

{% block body %}
    <h1>Alchole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alchole in alcholes %}
            <tr>
                <td>{{ alchole.id }}</td>
                <td>{{ alchole.name }}</td>
                <td>{{ alchole.type }}</td>
                <td>
                    <a href="{{ path('app_alchole_show', {'id': alchole.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_alchole_edit', {'id': alchole.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_alchole_new') }}">Create new</a>
{% endblock %}
